body {margin:0;}


/* NAV BAR */
.top {
  list-style-type: none;  
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.top a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top a:hover {
  background-color: #049faa;
  color: white;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #049faa;
}

/* END NAV BAR */

/* STYLING */

h1 {
  font-family: 'Amatic SC';
}

h2 {
  font-family: 'Dosis', cursive ;
}

body {
  background-image: url('images/index_background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px #7289da ;
}

body a {
  color: rgb(250, 156, 14);
  text-shadow: none;
}

h3 {
  font-family: 'Dosis', cursive ;
}


/* END STYLING */


/*  BOTTOM NAVBAR */

/* Place the navbar at the bottom of the page, and make it stick */
.bottom {
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0px;
}

/* Styled links */
.bottom a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* links color when hovered */
.bottom a:hover {
  background-color: #049faa;
  color: white;
}

.tm {
  display: flex;
  justify-content: right;
  margin-top: 1em;
  padding-right: 3em;
  color: #555555;
  text-shadow: none;
}

/* END BOTTOM NAVBAR */
